@import url(tree.css);

body {margin:0px;padding:1em 1em 2.8em;font-family:Tahoma,arial,simsun;font-size:14px;background-color:#fafaff;}
div,form,img,ol,dl,dt,dd,fieldset {margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6,p {margin:0;padding:0;font-size:1em;}
ul,ol,li {margin:0;padding:0;list-style:none;}
em {font-style:normal;}
hr {display:none;}

/**/
#jsonNav {height@:100%;}
#@panel {box-shadow: 0 0 0 #fff, 4px 3px 5px rgba(50, 50, 50, 0.4);padding:12px 2px 12px 12px;width:512px;height:80%;max-height:500px;position:fixed;right:1em;top:1em;border-radius:4px;background-color:#eceffc;border:1px solid #dce4ff;}
#panel {padding:12px 2px 12px 12px;width:512px;height:80%;@min-height:300px;position:fixed;right:1em;top:1em;border:1px solid #C8C8C8;border-color:#e7e7f3 #c8c8d8 #c8c8d8 #e7e7f3;background:#f3f5ff;box-shadow:4px 4px 9px rgba(0, 0, 50, 0.2), -3px -3px 30px rgba(88, 88, 188, 0.1) inset;
	transition:
		height .2s ease-out
		,width .2s ease-out
	;
}
#panel.min {width:10px;height:3px;}
#panel.disTransition {transition:none;}
#showLink {display:none;position:absolute;right:27px;top:45px;}
a#showLink:link, a#showLink:visited {color:#577cff;text-decoration:underline;}
a#showLink:hover, a#showLink:active {color:#577cff;text-decoration:none;}
#minBtn {position:absolute;right:5px;top:5px;cursor:pointer;color:#577cff;}
#minBtn:hover {color:#87acff;}
#valueAct {height:100%;overflow:auto;opacity:1;position:relative;
	transition:
		opacity .4s ease-in
	;
}
#panel.min #valueAct {display@:none;opacity:0;height:1px;overflow:hidden;}
#saveBtn {float:left;}
#undoBtn {margin-left:4em;}
#undoBtn, #redoBtn {float:left;font-family:Tahoma,arial,simsun;}
#showPath {width:420px;background-color:#e3e4e9;}
#showKey {width:200px;background-color:#e3e4e9;}
#showKey.isArrayElm {}
#showKey.isArrayElm~span {visibility:hidden;}
.lableInput #showKey~span {font-weight:bold;}
#showValue {outline:0;width:462px;min-height:270px;padding:10px 12px;border:1px solid #b6b6c4;border-right-color:#eef;border-bottom-color:#eef;border-radius:2px;font-family:Tahoma,arial,simsun;box-shadow:1px 1px 6px rgba(33, 33, 98, .16) inset;}
#showValue:focus {box-shadow:1px 1px 12px rgba(53, 53, 118, .26) inset;border:1px solid #d0d0ed;border-right-color:#ddf;border-bottom-color:#ddf;}
.inputTitle {display:inline-block;width:4em;margin:0 0 1em;}
#pathTips {height:1.5em;line-height:1.6em;width:100%;position:fixed;left:0;bottom:0;background-color:#eee;color:#666;padding:0.2em 1em 0;border-top:1px solid #fff;}
button {border-radius:2px;margin:0.5em 0 0;font-family:Tahoma,arial,simsun;}
#msgBox {color:red;font-size:12px;font-weight:bold;height:30px;padding-left:20px;padding-top:10px;}
.textInpub {padding:3px 6px;border-radius:2px;font-family:Tahoma,arial,simsun;}
#mask {position:absolute;left:0;top:0;background-color:rgba(101, 123, 190,0.3);width:100%;height:100%;}
#enterInputDialog {position:absolute;left:50%;top:50%;margin:-170px 0 0 -280px;padding:20px;width:560px;height:340px;text-align:right;border-radius:6px;box-shadow: 6px 5px 7px rgba(50, 50, 50, 0.4);background-color:#fafaff;border:1px solid #e8e8e8;}
#enterValue {width:530px;height:265px;margin:5px 0 0;border-radius:2px;padding:15px;box-shadow:1px 1px 10px rgba(88, 88, 188, 0.18) inset;border-color:#888 #ddd #ddd #888;font-family:Tahoma,arial,simsun;}
#enterInputTips {text-align:left;line-height:1.5em;}
.tools2 {padding:0 1em 0 0;text-align:right;}

.noIco .ico {display:none;}
.folderIco .ico {display:none;}
.folderIco .elmBox {padding:0 0 0 20px;}
.folderIco .node .elmBox {background-image:url(treePic/elm.png);background-position:2px 0;background-repeat:no-repeat;}
.folderIco .elmBox {background-image:url(treePic/objectOpen.png);background-position:2px 0;background-repeat:no-repeat;}
.noIco.folderIco .elmBox {background-image:none;padding:0;}

.value {display:none;padding:0 8px;}
.object>.row .elm {color:#333;font-weight:normal;}
.object>.row .elm:after {content:"";}
.object>.elmList>.elmBlock>.row .elm:after {}
.array>.elmList>.elmBlock>.row .elm {font-weight:normal;color:#000;display@:none;}
.showValueInNav .array>.elmList>.node>.row .elm {display:none;}
.showValueInNav .array>.elmList>.array>.row .elm {display:inline;}
.array>.elmList>.array>.row .elm {}
.elm, .array>.elmList>.array>.row .elm {color:#4a0;font-weight:bold;display:inline;}
.showValueInNav .elm:after {content:"  :";color:#2c3;font-weight:bold;}
.showValueInNav .cur>.row .elm:after {color:#fff;}
.array>.elmList>.array>.row .elm:after {content:"";color:#2c3;font-weight:bold;}
.showValueInNav .value {display:inline;}
.showValueInNav .array>.elmList>.elmBlock>.row .elm {}
.string>.row .value {color:#f63;}
.number>.row .value {color:#cc00ff;}
.null>.row .value {color:#aaa;}
.boolean>.row .value {color:#09c;}

#errorTips {
	position:absolute;
	left:0;
	top:0;
	z-index:3;
	width:560px;border-radius:6px;box-shadow: 6px 5px 7px rgba(229, 163, 163, 0.4);background-color:#ffecf1;border:1px solid #dbb2b2;
	overflow:auto;
	max-height:98%;
}
#sigh {
	position:absolute;
	left:10px;
	top:10px;
	color:#d84646;
	cursor:pointer;
}
#errorBtn {
	padding:5px 0 0 5px;
	font-size:16px;
	cursor:pointer;
	color:#e96969;
	position:absolute;
	left:0;
	top:0;
}
#errorBtn:hover {
	opacity:0.6;
}
#errorCode .errorEm {
	background-color:#ff921b;
}
#errorTarget {
	color:#000;
	background-color:#fff;
}
#errorCode {
	padding:0 10px 10px;
}
#errorCode ol {
	padding:0 0 0 3em;
}
#tipsBox {
	color:#b4465c;
	padding: 6px 0 4px 2em;
}
#errorCode ol li {
	padding:4px 7px 0;
	list-style-type: decimal;
	color:#b4465c;
	background-color:#fdf7f7;
}
#errorCode ol li div {
	color:#000;
}

/**/