

.treeNav {text-shadow: -2px 1px 3px rgba(70, 70, 70, 0.2);}
.treeNav .ico {float:left;cursor:pointer;padding:0 0 0 2px;}
.treeNav .row {padding:0 0 0 16px;height:22px;line-height:24px;background-color@:#fff;overflow@:hidden;}

.treeNav .elmSpan {white-space: nowrap;margin:0 0 0 3px;display:inline-block;border-radius:8px;}
.treeNav .cur>.row .elmSpan {box-shadow: -3px 3px 5px rgba(50, 50, 50, 0.4);font-weight:bold;background-color:#577cff;}
.treeNav .cur>.row .elmSpan * {color:#fff !important;}

.treeNav .elmBlock {cursor:row-resize;}

.treeNav .elmBox {cursor:pointer;border-radius:8px;padding-left:2px;}
.treeNav .row:hover .elmBox{font-weight:bold;border-left:2px solid #778cff;}
.treeNav .elm {padding:3px 8px;white-space:nowrap;}

.treeNav .elmList {padding:0 0 0 22px;}

.treeNav .folder {background:url(treePic/line.png) repeat-y 0 0;}
.treeNav .root.elmBlock>.row {background-image:url(treePic/folderRoot.png);}
.treeNav .root.open.elmBlock>.row {background-image:url(treePic/openRoot.png);}

.treeNav .elmBlock .row {background:none no-repeat 0 0;}
.treeNav .folder>.row {background-image:url(treePic/folder.png);}

.treeNav .last, 
.treeNav .root{background-image:none;}
.treeNav .last.folder>.row {background-image:url(treePic/folderLast.png);}
.treeNav .last.node>.row, 
.treeNav .empty.elmBlock.last>.row {background-image:url(treePic/nodeLast.png);}

.treeNav .open>.row {background-image:url(treePic/open.png);}
.treeNav .open.last>.row {background-image:url(treePic/openLast.png);}
.treeNav .open.root>.row {background-image:url(treePic/open.png);}

.treeNav .empty>.row {background-image:url(treePic/node.png);}
.treeNav .last.node>.row {background-image:url(treePic/nodeLast.png);}

.treeNav .node .row {margin:0;white-space:nowrap;background:url(treePic/node.png) no-repeat 0 0;cursor:default;}

